{% assign p = site.data.profile %}
<aside class="sidebar">
  <div class="sidebar-inner">
    <a class="profile" href="{{ '/' | relative_url }}">
      <img class="profile-photo" src="{{ p.photo | relative_url }}" alt="Photo of {{ p.name }}">
      <span class="profile-name">{{ p.name }}<span class="profile-honorific">, {{ p.honorific }}</span></span>
    </a>
    <p class="profile-role">{{ p.role }}<br>{{ p.affiliation }}</p>

    <ul class="profile-contact">
      <li><i class="fas fa-envelope fa-fw"></i> {{ p.email }}</li>
      <li><i class="fas fa-map-marker-alt fa-fw"></i> {{ p.location }}</li>
    </ul>

    <ul class="profile-links">
      {% for l in p.links %}
      <li><a href="{{ l.url }}" title="{{ l.name }}" aria-label="{{ l.name }}"><i class="{{ l.icon }} fa-fw"></i></a></li>
      {% endfor %}
    </ul>
  </div>
</aside>
