$mainMatterTextColor: #666;
$mainMatterDarkerTextColor: #333;
$fontFamily: Palatino,Arial,sans-serif;
$topColor: #456; // #6393ae
$navLinkTextColor: #d0e3f7;

$lightTextColor: #e6ebef;
$lighterTextColor: #fff;

$footerBgColor: #456; // #555
$footerColor: $lightTextColor;
$footerLinkTextColor: $navLinkTextColor;

$fontawesomeIconColor: #a00;

$leftyBgColor: #66788d; // #e7f4fd;
$leftyTextColor: $lightTextColor;

$leftMenuBgColorOdd: #788ba2;
$leftMenuBgColorEven: $leftyBgColor;
$leftMenuBlogLinkBorder: 1px solid $leftMenuBgColorOdd;

$footerLblColor: $lighterTextColor;

/*
//  RESET START
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover { text-decoration: none; }
// RESET END

@font-face {
font-family: "fontawesome";
font-weight: normal;
font-style : normal;
src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
}

body{
  background-color: #fff;
  padding-top: 20px;
  font-family: $fontFamily; //'PT Sans Narrow', sans-serif;
}


.page-title {
  text-align: center;
  color: #fa0; // #9df;
  font-family: system-ui, 'fontawesome', sans-serif;
  font-size: 20pt;
  line-height:2.0em;
  font-weight: bold;

  .first-letter { color: #fff; }
}

#subtitle  {
  color: $lightTextColor;
  display: block;
}

#titlediv {
  //padding-top: 20px;
  // padding: 40px 10px 40px 10px;
  h1 { margin:0; padding: 0; }
}

.navContainer {
  background-color: $topColor;
  padding: 5px;
  padding-left:10%;
  padding-right:10%;
  // border-radius: 15px 15px 0px 0px;

  //div { min-height: 100px; }
  // h1 { margin: auto auto auto auto; }
}


nav {
  text-align: center;
  // padding: 40px 10px 40px 10px;
  padding: 5px 5px 5px 5px;

  a {
    text-transform: uppercase;
    line-height:2.0em;
    color: $navLinkTextColor;
    font-weight: 500;
    font-size: 16pt;
    font-family: system-ui, 'fontawesome', sans-serif;
    letter-spacing: -0.05em;
  }

  a:hover {
    color: $lighterTextColor;
  }

  .selected_link:link, .selected_link:visited, .selected_link:active {
    color: $lighterTextColor;
  }
}

.mainContainer {
  margin-left:10%;
  margin-right:10%;
  //margin-top: 20px;
  background-color: #fff;
  color: $mainMatterTextColor;
  line-height:1.4em;
  font-family: $fontFamily; //Roboto,Helevetica,Arial,sans-serif; // 'PT Sans Narrow', sans-serif;

  .leftc {
    padding: 10px;
    // background-color: #ededed;
  }

  // THIS IS THE LEFT COLUMN
  .lefty {
    background-color: $leftyBgColor;
    padding:2%;
    padding-top:20px;
    color: $leftyTextColor;

    .lbl { font-weight: bold; color: $lighterTextColor; }

    a.twitter-timeline { color: $lightTextColor; }
    a.twitter-timeline:hover { color: $lighterTextColor; }
  }

  h1 {
    font-size: 20pt;
    margin: 20px 0px 20px 0px;
  }

  h2 {
    font-size: 18pt;
    margin: 15px 0px 15px 0px;
    font-weight: bold;
  }

  h3 {
    font-size: 14pt;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
  }

  p {
    font-size: 14pt;
    margin: 7px 0px 7px 0px;
    line-height:1.3em;
  }

  p.post-info { margin:0; font-size: 10pt;
    em { font-weight: 600; }
  }

  hr { margin:2px; border-color: #ccc; margin-bottom: 12px; }

  .content {
    padding: 2%;
    font-family: $fontFamily;//"Tahoma", Arial, Serif;
    ul, ol {
      margin: 10px 0px 10px 0px;
    }
    ol li, ul li {  display: list-item; margin-left: 2.5em; margin-bottom: 10px; line-height: 1.3em; }
    ul li { list-style-type: square; }
    ol li { list-style-type: decimal; }
    em { color: $mainMatterDarkerTextColor; font-weight: 500; }
    strong { font-weight: bold; color: #a00;}

    .post-title { font-weight: bold; }

    .pic-desc {
      font-family: $fontFamily; // 'PT Sans Narrow', sans-serif;
      ul { margin: 0px; }
      li { list-style: none; margin: 5px; }
      em { font-weight: bold; } // color: $lighterTextColor;
    }

    .bio {
      // border: 1px dashed ; // $lightTextColor
      // border-radius: 5%;
      background-color: #ddd;
      padding: 2%;
    }

    .badges {
      .fab, .fas { color: $fontawesomeIconColor; }
    }
  }
}

.footer {
  background-color: $footerBgColor;
  color: $footerColor;
  font-family: $fontFamily;
  //margin-top:10px;
  font-size: 14pt;
  padding-left: 10%;
  padding-right: 10%;

  a {
    color: $footerLinkTextColor;
  }
  a:hover {
    color: $lighterTextColor;
  }
  .linksBoxTitle {
    font-weight: bold;
    color: $footerLblColor;
    margin: 10px;
  }
  .footerLinksColumn{
    text-align: center;
  }
  ul li { margin: 10px; }
}
footer {
  display: block;
  //margin: auto 10% auto 10%;
  width: 100%;
}

.row .footer, footer .row, footer > .row { margin: 2% auto 2% auto; }


.pic {
  // border-radius: 50%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
}

.links {
  li { list-style-type: square; display: list-item; margin-left: 1em; }
}

.menu {
  ul { }
  li { display: inline; list-style: none; margin-left: 10px; }
}

.blog-posts {
  ul { list-style-type:none; }
  li.odd {
    //border-left: 8px solid #076196;
    background-color: $leftMenuBgColorEven;
  }
  li.even {
    //border-left: 8px solid #076196; // #ababab
    background-color: $leftMenuBgColorEven;
  }
  li.curr {
    background-color: $leftMenuBgColorOdd;
  }
  p { color: $lightTextColor; line-height:1em; font-size: 10pt; margin: 0; margin-top:2px; margin-bottom: 2px; }
  li {
    display: block;
    padding:8px;
    // color: #000;
    border: $leftMenuBlogLinkBorder;
    margin-top:-2px;
    //margin-bottom:4px;
    &:hover {
      background-color: $leftMenuBgColorOdd;
    }
  }
  .post-title { font-weight: bold; color: $lighterTextColor; }
}

pre {
  font-family: 'Courier New', sans-serif;
}

*/

div.bibtexentry {
  #border-left:10px solid #ababab;
  #background-color: #ededed;
  #padding: 10px;
  margin-bottom:10px;
  .year, .author { font-weight: 100; }
  .title { font-weight: bold; padding:0; }
}

div.note {
  color: #b77;
}

h3.title {
  border-bottom: 2px solid #999;
  padding: 4px 0px 4px 0px;
}

codersrank-activity {
  --bg-color-0: #000;
  --bg-color-1: #444;
  --bg-color-2: #999;
  --bg-color-3: #ccc;
  --bg-color-4: #fff;
  --label-text-color: #fff;
  --label-font-size: 8pt;
  --legend-text-color: #fff;
  --legend-font-size: 12px;
}

codersrank-summary {
  --header-bg-color: #456;
  --bg-color: #456;
  --badge-bg-color: #788ba2;
}
