<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.css' | relative_url }}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.5/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.5/highlight.min.js"></script>
    <!-- <script src="https://kit.fontawesome.com/5632065966.js"></script> -->
    <script>hljs.initHighlightingOnLoad();</script>
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ stylesheet }}" media="screen" type="text/css">
      {% endfor %}
    {% endif %}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
      <script src="{{ js_file }}" type="text/javascript"></script>
      {% endfor %}
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PTVV995LSB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PTVV995LSB');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %}  {% css app %} {% endcomment %}
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="container-fluid">

      <!--
      <div class="row mainContainer">
        <div class="col-xs-12 col-lg-4 leftc lefty rounded-top">
        </div>
      </div>
    -->

      <div class="row navContainer">
        <div class="col-xs-12 col-lg-4" id="titlediv">
          <h1 class="page-title"><!--<span class="first-letter">r</span>oberto<span class="first-letter">c</span>asadei-->robertocasadei<span class="text-muted">.github.io</span></h1>
          <!-- <span class="text-center" id="subtitle">a personal &amp; professional website</span> -->
         </div>
        <div class="col-lg-8">
          {% include nav.html %}
        </div>
      </div>

      <div class="row mainContainer">
        <div class="col-lg-12 order-first order-lg-last content">{{ content }}</div>

        <!--
        <div class="col-xs-12 col-lg-4 leftc lefty">
          <img class="pic" src="{{ '/assets/img/foto.jpg' | relative_url }}" alt="Profile Picture" />
          <div class="bio">
            <ul class="pic-desc">
            <li class="h4"><em>Roberto Casadei</em>, PhD</li>
            <li><em>Post-doctoral Researcher</em> in Computer Science and Engineering
              and <em>Adjunct Professor</em> at Alma Mater Studiorum&#x2013;Università di Bologna</li>
            <li><span class="lbl"><i class="fas fa-envelope"></i> E-mail:</span> roby [dot] casadei [at] unibo [dot] it</li>
            <li><span class="lbl"><i class="fas fa-map-marker-alt"></i> Offices:</span> Cesena, Italy</li>
            </ul>
            <div class="mt-3 mb-3 text-center badges">
              <a href="https://github.com/metaphori/" title="Roberto Casadei's GitHub Account"><i class="fab fa-github fa-2x"></i></a>
              <a href="https://www.unibo.it/sitoweb/roby.casadei/en" title="Roberto Casadei's Institutional Website"><i class="fas fa-university fa-2x"></i></a>
              <a href="https://stackoverflow.com/users/2250712/metaphori" title="Roberto Casadei's StackOverflow Website"><i class="fab fa-slack-hash fa-2x"></i></a>
              <a href="https://slideshare.net/RobertoCasadei" title="Roberto Casadei's Slideshare"><i class="fab fa-slideshare fa-2x"></i></a>
              <a href="https://scholar.google.it/citations?user=qhfWK44AAAAJ" title="Roberto Casadei's Scholar Profile"><i class="fas fa-graduation-cap fa-2x"></i></a>
              <a href="https://dblp.uni-trier.de/pers/hd/c/Casadei:Roberto" title="Roberto Casadei's DBLP Profile"><i class="fas fa-pen-alt fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/robertocasadei/" title="Roberto Casadei's LinkedIn Profile"><i class="fab fa-linkedin fa-2x"></i></a>
              <a href="mailto:name.surname90@gmail.com" title="Roberto Casadei's Email"><i class="fas fa-envelope fa-2x"></i></a>
            </div>
          </div>

          <div class="col-xs-12 leftc mt-4">
            <ul class="blog-posts">
            {% assign i = 0 %}
            {% for p in site.posts %}
              {% assign i = i | plus:1 %}<a href="{{ p.url }}">
              <li class="{% cycle 'odd', 'even' %}{% if p.url==page.url %} curr{% endif %}"><span class="post-title">{{ p.title }}</span>{{p.excerpt}}</li></a>
            {% endfor %}
            </ul>
          </div>
          -->

          <!--
          <div class="twitter-timeline-sec mt-4">
            <a class="twitter-timeline"
              id="my-twitter-timeline"
              href="https://twitter.com/robycasadei90?ref_src=twsrc%5Etfw"
              data-theme="dark"
              data-width="100%"
              data-height="300"
              data-tweet-limit="3"
              data-chrome="noscrollbar">
            Tweets by @robycasadei90
            </a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          -->
        </div>
      </div>

      <div class="footer">
        <footer class="row align-items-center">
          <div class="col-xs-12 col-lg-4 text-center">
            <div class="mb-3 mt-3"><span>&copy; 2021 Roberto Casadei</span></div>
          </div>
          <div class="col-lg-8 row">
              <div class="footerLinksColumn col-md-3 mb-2">
                <span class="linksBoxTitle mb-4">Academy</span>
                <ul>
                  <li><a href="https://www.unibo.it/sitoweb/roby.casadei/en" title="Roberto Casadei's Institutional Homepage">Institutional website</a></li>
                  <li><a href="https://pslab-unibo.github.io/" title="Roberto Casadei is a member of the PSLab">Pervasive Software Lab</a></li>
                </ul>
              </div>
              <div class="footerLinksColumn col-md-3 mb-2">
                <span class="linksBoxTitle mb-4">Research</span>
                <ul>
                  <li><a href="https://www.scopus.com/authid/detail.uri?authorId=55358634800" title="Roberto Casadei's Scopus Page">My Scopus</a></li>
                  <li><a href="https://scholar.google.it/citations?user=qhfWK44AAAAJ" title="Roberto Casadei's Google Scholar Profile">My GScholar</a></li>
                  <li><a href="https://dblp.uni-trier.de/pers/hd/c/Casadei:Roberto" title="Roberto Casadei's DBLP Profile">My DBLP</a></li>
                  <li><a href="https://publons.com/researcher/2103879/roberto-casadei/" title="Roberto Casadei's Publons Profile">My Publons</a></li>
                  <li><a href="https://orcid.org/0000-0001-9149-949X" title="Roberto Casadei's ORCID">My ORCID</a></li>
              </div>
              <div class="footerLinksColumn col-md-3 mb-2">
                <span class="linksBoxTitle mb-4">Development</span>
                <ul>
                  <li><a href="https://scafi.github.io/" title="Roberto Casadei's Main Project: The ScaFi aggregate programming toolkit">ScaFi toolkit</a></li>
                  <li><a href="https://github.com/metaphori/" title="Roberto Casadei's GitHub Account">My Github</a>
                  <li><a href="https://stackoverflow.com/users/2250712/metaphori" title="Roberto Casadei's StackOverflow Website">My Stackoverflow</a></li>
                  <li><a href="https://profile.codersrank.io/user/metaphori" title="Roberto Casadei's CodersRank Profile">My CodersRank</a></li>
                </ul>
              </div>
              <div class="footerLinksColumn col-md-3 mb-2">
                <span class="linksBoxTitle mb-4">Social &amp; Misc</span>
                <ul>
                  <li><a href="https://twitter.com/robycasadei90" title="Roberto Casadei's Twitter Profile">My Twitter</a></li>
                  <li><a href="https://slideshare.net/RobertoCasadei" title="Roberto Casadei's Slideshare Profile">My Slideshare</a></li>
                  <li><a href="https://www.linkedin.com/in/robertocasadei/" title="Roberto Casadei's LinkedIn Profile">My LinkedIn</a></li>
                  <li><a href="https://www.instagram.com/robyonrails" title="Roberto Casadei's Instagram">My Instagram</a></li>
                </ul>
              </div>
          </div>
        </footer>
      </div>

      <!--
      <div class="row mainContainer">
        <div class="col-xs-12 col-lg-4 leftc lefty rounded-bottom mb-2">
        </div>
      </div>
      -->

    </div>
  </body>
</html>
