<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.css' | relative_url }}"
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <!-- <script src="https://kit.fontawesome.com/5632065966.js"></script> -->
    <script>hljs.initHighlightingOnLoad();</script>
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ stylesheet }}" media="screen" type="text/css">
      {% endfor %}
    {% endif %}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
      <script src="{{ js_file }}" type="text/javascript"></script>
      {% endfor %}
    {% endif %}

    {% comment %}  {% css app %} {% endcomment %}
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="container-fluid">

      <div class="row navContainer">
        <div class="col-sm-4">
          <h1 class="page-title"><!--<span class="first-letter">r</span>oberto<span class="first-letter">c</span>asadei-->robertocasadei.github.io</h1>
        </div>
        <div class="col-sm-8">
          {% include nav.html %}
        </div>
      </div>

      <div class="row mainContainer">
        <div class="col-sm-3 leftc">
          <img class="pic" src="{{ '/assets/img/foto.jpg' | relative_url }}" alt="Profile Picture" />
          <ul class="pic-desc">
          <li><em>Roberto Casadei</em></li>
          <li>PhD Candidate in Computer Science and Engineering
            at Alma Mater Studiorum--Università di Bologna</li>
            <li style="text-align: center;">
              <a href="https://github.com/metaphori/" title="Roberto Casadei's GitHub Account"><i class="fab fa-github fa-2x"></i></a>
              <a href="https://www.unibo.it/sitoweb/roby.casadei/en" title="Roberto Casadei's Institutional Website"><i class="fas fa-university fa-2x"></i></a>
              <a href="https://stackoverflow.com/users/2250712/metaphori" title="Roberto Casadei's StackOverflow Website"><i class="fab fa-slack-hash fa-2x"></i></a>
              <a href="https://slideshare.net/RobertoCasadei" title="Roberto Casadei's Slideshare"><i class="fab fa-slideshare fa-2x"></i></a>
              <a href="https://scholar.google.it/citations?user=qhfWK44AAAAJ" title="Roberto Casadei's Scholar Profile"><i class="fas fa-graduation-cap fa-2x"></i></a>
              <a href="https://dblp.uni-trier.de/pers/hd/c/Casadei:Roberto" title="Roberto Casadei's DBLP Profile"><i class="fas fa-pen-alt fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/robertocasadei/" title="Roberto Casadei's LinkedIn Profile"><i class="fab fa-linkedin fa-2x"></i></a>
              <a href="mailto:name.surname90@gmail.com" title="Roberto Casadei's Email"><i class="fas fa-envelope fa-2x"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 content">{{ content }}</div>
        <div class="col-sm-3 rightc">
          <ul class="blog-posts">
          {% assign i = 0 %}
          {% for p in site.posts %}
            {% assign i = i | plus:1 %}<a href="{{ p.url }}">
            <li class="{% cycle 'odd', 'even' %}{% if p.url==page.url %} curr{% endif %}"><span class="post-title">{{ p.title }}</span>{{p.excerpt}}</li></a>
          {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row footer">
        <footer>
        &copy; 2020 Roberto Casadei
        </footer>
      </div>
    </div>
  </body>
</html>
